footer {

    background-color: $couleur-hd-ft;
    color: yellow;
    position:fixed;
    bottom: 0px;
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 1% 0;

    a {

        padding: 0 2%;
        color:$couleur-bg-body;

    

    &:hover {

   
        animation: wiggle 2.5s infinite;

        @keyframes wiggle {
            0% { transform: rotate(0deg); }
            20% { transform: rotate(0deg); }
            25% { transform: rotate(5deg); }
            35% { transform: rotate(-5deg); }
           40% { transform: rotate(5deg); }
           45% { transform: rotate(-5deg); }
           50% { transform: rotate(0deg); }       
           80% { transform: rotate(0deg); }
           85% { transform: rotate(5deg); }
           95% { transform: rotate(-5deg); }
          100% { transform: rotate(0deg); }
        
        
        
        }
    }

}

}


