@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=MuseoModerno:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(5deg);
  }
  45% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/**** Typo la note enchantée ****/
/**** Typo le chic à la française ****/
/**** Typo le délice des papilles ****/
/**** Typo la palette du gôut ****/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
* h1 {
  font-size: 4em;
  font-family: "Krona One", sans-serif;
  color: #f4ce25;
}
* h2 {
  font-size: 1.5em;
  font-family: "MuseoModerno", cursive;
}
* h3 {
  font-size: 1em;
  font-family: "MuseoModerno", cursive;
}
* a {
  text-decoration: none;
  font-family: "MuseoModerno", cursive;
}

header {
  background-color: #00a808;
  text-align: center;
  color: yellow;
  padding: 2% 0;
}

footer {
  background-color: #00a808;
  color: #f4ce25;
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1% 0;
  z-index: 1000;
}
footer a {
  padding: 0 2%;
  color: #f4ce25;
  font-size: 1.5em;
}
footer a:hover {
  animation: wiggle 2.5s infinite;
}

main {
  padding: 2%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main div {
  box-shadow: 0px 1px 9px 1px #bea98e;
  width: 30%;
  margin: 2% 10%;
  height: 80vh;
}
main a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main a h2 {
  font-size: 2.5em;
}
main a p {
  font-size: 1.5em;
}
main a:hover article {
  transform: scale(1.4);
  opacity: 0.5;
}
main article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: auto;
  text-align: center;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 600ms;
  opacity: 1;
}

/***** Couleurs text des div ****/
/***** la note enchantée ****/
#divlanote {
  background-color: red;
}
#divlanote h2, #divlanote p {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#divlanote h2 {
  font-family: "Pangolin", cursive;
}

/***** Le chic à la française ****/
#divlechic {
  background-color: greenyellow;
}
#divlechic h2, #divlechic p {
  background: -webkit-linear-gradient(red 0%, orange 10%, orange 30%, yellow 50%, yellow 70%, green 90%, green 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#divlechic h2 {
  font-family: "Caveat", cursive;
}

/***** la note enchantée ****/
#divledelice {
  background-color: blueviolet;
}
#divledelice h2, #divledelice p {
  background: -webkit-linear-gradient(red 40%, yellow 30%, blue 65%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#divledelice h2 {
  font-family: "Dancing Script", cursive;
}

/***** la palette ****/
#divlapalette {
  background-color: green;
}
#divlapalette h2, #divlapalette p {
  background: -webkit-linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#divlapalette h2 {
  font-family: "Courgette", cursive;
}

#containerbuton {
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#comingsoon {
  background: #00a808;
  padding: 5px 25px;
  border-radius: 40px;
  color: #f4ce25;
  display: flex;
  align-items: center;
  justify-content: center;
}
#comingsoon p {
  font-size: 2em;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: #f4ce25;
}

#dotone {
  animation: bounce1 1s ease infinite;
}

@keyframes bounce1 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
#dottwo {
  animation: bounce2 1s ease infinite;
}

@keyframes bounce2 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1) translateY(0);
  }
  30% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-5px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
#dotthree {
  animation: bounce3 1s ease infinite;
}

@keyframes bounce3 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1) translateY(0);
  }
  30% {
    transform: scale(1, 1) translateY(0);
  }
  50% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  70% {
    transform: scale(0.9, 1.1) translateY(-5px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
