* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: $font-global;
    color: $color-font;

    body {

        background-color: $couleur-body;
    }



    h1 {

        font-size: 4em;
        font-family: $font-h1;
        color: $couleur-txt-dyn;

        &:hover {

            @include wiggle;
        }




    }



    a {

        text-decoration: none;

    }


}


@media (max-width: 500px) {

    * {

        font-size: 15px;
    }

    h1 {

        font-size: 2em;
    }


}