* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;

    h1 {

    font-size: 2em;
    font-family: 'Krona One', sans-serif;
    }

    h2 {

        font-size: 1.5em;
        
    }

    p {
        font-family: 'MuseoModerno', cursive;
    }

    a{

    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
    
    } 
}