* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    

    h1 {

    font-size: 4em;
    font-family: 'Krona One', sans-serif;
    color: $couleur-txt-dyn;
    }

    h2 {

        font-size: 1.5em;
        font-family: 'MuseoModerno', cursive;
         
    }

    h3 {

        font-size: 1em;
        font-family: 'MuseoModerno', cursive;
    
    }

    a{

    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
    
    
    
    } 
}