* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family:$font-global;
    color: $color-font;
    

    h1 {

    font-size: 4em;
    font-family:$font-h1;
    color: $couleur-txt-dyn;

    &:hover {

        @include wiggle;
    }
    }

    h2 {

        font-size: 1.5em;
         
    }

    h3 {

        font-size: 1em;

    
    }

    a{

    text-decoration: none;

    
    } 


}



@media (max-width: 500px) {

    h1 {

        font-size: 3em;
    }


}
