@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=MuseoModerno:wght@100;400&display=swap');

/**** Typo la note enchantée ****/

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


/**** Typo le chic à la française ****/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

/**** Typo le délice des papilles ****/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/**** Typo la palette du gôut ****/

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');