main {


    padding: 2%;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



    div {

        @include box-shadow;
        width: 35%;
        margin: 2%;
        height: 80vh;

    }

    a {

        width: 100%;
        height: 100%;
        @include center;

        h2 {

            font-size: 2.5em;
        }

        p {

            font-size: 1.5em;
        }

        &:hover article {

            @include scalehover;

        }

        & img {

            width: 20%;
            height: 20%;
            margin: auto;

        }

    }



    article {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        height: auto;
        text-align: center;
        @include scale;

    }


}

/***** Couleurs text des div ****/

/***** la note enchantée ****/

#divlanote {

    background-color: $couleur-lanote;

    h2,
    p {


        @include gradient-text ($couleur-txt-lanote);

    }

    & h2 {

        font-family: $font-lanote;
    }

}

/***** Le chic à la française ****/

#divlechic {

    background-color: $couleur-lechic;

    h2,
    p {


        @include gradient-text ($couleur-txt-lechic);


    }

    & h2 {
        font-family: $font-lechic;

    }

}

/***** la note enchantée ****/

#divledelice {

    background-color: $couleur-ledelice;

    h2,
    p {


        @include gradient-text ($couleur-txt-ledelice);

    }

    & h2 {

        font-family: $font-ledelice;
    }

}

/***** la palette ****/

#divlapalette {

    background-color: $couleur-lapalette;

    h2,
    p {


        @include gradient-text ($couleur-txt-lapalette);


    }

    & h2 {

        font-family: $font-lapalette;
    }

}


#containerbuton {

    margin-bottom: 15vh;
    @include center;



}

#comingsoon {

    @include buton ($couleur-hd-ft);
    @include center;
    @include normalscale;



    p {

        font-size: 2em;
        padding-right: .1em;
        color: $couleur-txt-dyn;

    }



}

.dot {

    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
    background-color: $couleur-txt-dyn;

}

#dotone {

    animation: bounce1 1s ease infinite;
}

@keyframes bounce1 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1, .9) translateY(0);
    }

    30% {
        transform: scale(.9, 1.1) translateY(-5px);
    }

    50% {
        transform: scale(1, 1) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

#dottwo {

    animation: bounce2 1s ease infinite;
}

@keyframes bounce2 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1) translateY(0);
    }

    30% {
        transform: scale(1.1, .9) translateY(0);
    }

    50% {
        transform: scale(.9, 1.1) translateY(-5px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

#dotthree {

    animation: bounce3 1s ease infinite;
}

@keyframes bounce3 {
    0% {
        transform: scale(1, 1) translateY(0);
    }

    10% {
        transform: scale(1.1) translateY(0);
    }

    30% {
        transform: scale(1, 1) translateY(0);
    }

    50% {
        transform: scale(1.1, .9) translateY(0);
    }

    70% {
        transform: scale(.9, 1.1) translateY(-5px);
    }

    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@media (max-width: 1024px) {

    main {

        display: flex;
        flex-direction: column;
        align-items: center;

        div {

            @include box-shadow;
            width: 80%;
            margin: 2% 10%;
            height: 40vh;

        }



    }


}

@media (max-width: 500px) {

    main {

        display: flex;
        flex-direction: column;
        align-items: center;


        a {

            width: 100%;
            height: 100%;
            @include center;

            h2 {

                font-size: 1.5em;
            }

            p {

                font-size: 1em;
            }

            &:hover article {

                @include scalehover;

            }

        }



    }
}