main {


    padding: 2%;
    margin:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



div {

    @include box-shadow;
    width: 30%;
    margin:2% 10%;
    height: 80vh;
}

a {

    width: 100%;
    height: 100%;
    @include center;

    h2 {

        font-size: 2.5em;
    }

    p {

        font-size: 1.5em;
    }





    &:hover span{

        @include scalehover;
       
    }



}

article {

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
height: auto;
text-align: center;
@include scale;

}


}

#containerbuton {

margin-bottom: 200px;
@include center;



}

#comingsoon {

@include buton ($couleur-hd-ft);
color: $couleur-txt-dyn;
@include center;
 p{

    font-size: 2em;
 }

 &:hover {

    
 }




}

.dot { 
   
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin:2px;
    background-color: $couleur-txt-dyn;

 }

#dotone {

    animation: bounce1 1s ease infinite;
 }

 @keyframes bounce1 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-5px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}

#dottwo {

    animation: bounce2 1s ease infinite;
 }

 @keyframes bounce2 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1) translateY(0); }
    30%  { transform: scale(1.1,.9)    translateY(0);}
    50%  { transform:  scale(.9,1.1) translateY(-5px); }
    100% { transform: scale(1,1)    translateY(0); }
}

#dotthree {

    animation: bounce3 1s ease infinite;
 }

 @keyframes bounce3 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1) translateY(0); }
    30%  { transform: scale(1,1)    translateY(0); }
    50%  { transform: scale(1.1,.9)    translateY(0); }
    70%  { transform:  scale(.9,1.1) translateY(-5px); }
    100% { transform: scale(1,1)    translateY(0); }
}
