main {


    padding: 2%;
    margin:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



div {

    @include box-shadow;
    width: 30%;
    margin:2% 10%;
    height: 80vh;
 
    

   

}

}

#bouton {

    display: flex;
    align-items: center;
    justify-content: center;
}

#comingsoon {

@include buton ($couleur-hd-ft)

}
