#mainmenu-lanote {

    @include main-menu ($couleur-lanote);


    #nommenu-lanote {


        @include gradient-text-menu ($couleur-txt-lanote, $font-lanote);


    }

    .categorie-lanote {

        @include underlined($couleur-dgd-lanote, $font-lanote)
    }
}


.spanmenu {

    @include spanmenu;

}

.titrecategorie {

    @include titrecategorie;


}

#div-logo-inline {

    @include center;
    margin-bottom: 15vh;



    p {
        font-size: 3em;
        font-family: $font-lanote;
        color: $couleur-txt-lanote;


    }

    img {

        width: 3%;
        margin-right: 1em;
    }



}