#mainmenu-lapalette {

    @include main-menu ($couleur-lapalette);
    
    
    #nommenu-lapalette {
    
 
        @include gradient-text-menu ($couleur-txt-lapalette,$font-lapalette);
    
    
    }
    
    .categorie-lapalette {
    
        @include underlined($couleur-txt-lapalette,$font-lapalette)
    }
    }
    
    
    .spanmenu {
    
    @include spanmenu;
    
    }
    
    