main {


    padding: 2%;
    margin:2% 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.card {

    @include box-shadow;
    width: 25%;
    margin:2%;
    height: 80vh;




}

