@mixin box-shadow

/*** A utiliser pour tous les box shadow ****/
    {

    box-shadow: 0px 1px 9px 1px hsl(34, 27%, 65%);

}

@mixin divaccueil {

    @include box-shadow;
    width: 35%;
    margin: 2%;
    height: 80vh;
    
}

@mixin center

/*** A utiliser pour tous les containers dont les élements doivent être centrés ****/
    {

    display: flex;
    align-items: center;
    justify-content: center;


}

@mixin buton ($color)

/*** A utiliser pour tous les boutons, les couleurs peuvent être variées selon les pages ****/
    {

    background: $color;
    padding: 5px 25px;
    border-radius: 40px;

    @media (max-width: 768px) {

       font-size: 0.8em;


    }

}



@mixin gradient-text ($color)

/*** A utiliser pour les titres de toutes DIV de présentation de la page d'accueil ****/
    {

    background: $color;
    font-size: 2.5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {

        font-size: 2em;


    }



}

@mixin gradient-text-menu ($color, $font)

/*** A utiliser pour tous les titres de page ****/
    {

    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    font-family: $font;

    @media (max-width: 1024px) {

        font-size: 3.5em;


    }


    @media (max-width: 768px) {

        font-size: 3em;


    }

    @media (max-width: 500px) {

        font-size: 2em;


    }





}

@mixin main-menu ($color)

/*** A utiliser pour toutes les pages de menu ****/
    {

    width: 80%;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: $color;
    margin-bottom: 15vh;
    @include box-shadow;

    & .logo

    /*** Class a utiliser pour tous les logos dans main menu ****/
        {

        width: 10%;
        margin: auto;


    }

    @media (max-width: 768px) {

        width: 90%;
        margin: 2% 5% 15vh 5%;

    }

    @media (max-width: 767px) {

        width: 96%;
        margin: 2% 2% 15vh 2%;


    }


}

@mixin logoinline {
    @include center;
    margin-bottom: 15vh;



    p {
        font-size: 3em;
        font-family: $font-lanote;
        color: $couleur-txt-lanote;


    }

    img {

        width: 5%;
        margin-right: 1em;
    }

    @media (max-width: 768px) {

        p {

            font-size: 2em;
        }

        


    }

    
}

@mixin titrecategorie

/*** A utiliser pour tous les titres de catégorie des pages de menu ****/
    {

    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;



    & img {

        width: 25%;
        padding-bottom: 2%;
        margin: 1em;

    }

    @media (max-width: 768px) {

        font-size: .8em;


    }



}

@mixin divmenu

/*** A utiliser pour tous les menus ****/
    {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: justify;


    & p {

        line-height: 2em;
    }

    & .price {

        padding-left: 1em;
        /*text-decoration: underline;*/
    }







}



/*** ANIMATIONS CSS ***/

/*** ANIMATIONS Wiggle ***/


@mixin wiggle {

    animation: wiggle 2.5s infinite;

}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    35% {
        transform: rotate(-5deg);
    }

    40% {
        transform: rotate(5deg);
    }

    45% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(0deg);
    }

    85% {
        transform: rotate(5deg);
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }



}


/*** ANIMATIONS Scale ***/

@mixin normalscale {

    transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
    opacity: 1;

    &:hover {

        transform: scale(1.4);


    }

}

/*** ANIMATIONS Scale (hover sur element parent)***/

@mixin scale {

    transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
    opacity: 1;

}

/*** ANIMATIONS Scale hover ( peut être utilisée par déclenchement sur un élement parents/voisins)***/

@mixin scalehover {

    transform: scale(1.2);
    opacity: 0.5;
}

/*** ANIMATIONS Underlined ***/

@mixin underlined ($color, $font) {



    font-family: $font;
    font-size: 2em;
    margin-bottom: 1em;
    position: relative;




    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 3px;
        bottom: 0;
        left: 0;
        background: $color;
        transform-origin: bottom right;
        transition: transform 0.35s ease-in;
    }


    &:hover:after {

        transform: scaleX(1);
        transform-origin: bottom left;


    }




}