
@mixin box-shadow {

    box-shadow: 0px 1px 9px 1px rgba(115,113,113,1);
    
}

@mixin buton ($couleur-hd-ft) {

    background: $couleur-hd-ft;
    padding: 10px;
    border-radius: 20px;
    
}

@mixin wiggle {

    animation: wiggle 2.5s infinite;

    @keyframes wiggle {
        0% { transform: rotate(0deg); }
        20% { transform: rotate(0deg); }
        25% { transform: rotate(5deg); }
        35% { transform: rotate(-5deg); }
       40% { transform: rotate(5deg); }
       45% { transform: rotate(-5deg); }
       50% { transform: rotate(0deg); }       
       80% { transform: rotate(0deg); }
       85% { transform: rotate(5deg); }
       95% { transform: rotate(-5deg); }
      100% { transform: rotate(0deg); }
    
    
    
    }


}





