
@mixin box-shadow {

    box-shadow: 0px 1px 9px 1px hsl(34,27%,65%);
    
}

@mixin buton ($color) {

    background: $color;
    padding:  5px 25px;
    border-radius: 40px;
  
    
    
}

@mixin wiggle {

    animation: wiggle 2.5s infinite;

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    35% { transform: rotate(-5deg); }
   40% { transform: rotate(5deg); }
   45% { transform: rotate(-5deg); }
   50% { transform: rotate(0deg); }       
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }



}

@mixin scale {

    transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
    opacity: 1;

}

@mixin scalehover {
    
    transform: scale(1.4) ;
    opacity: 0.5;
}

@mixin center {

    display: flex;
    align-items: center;
    justify-content: center;

    
}










