
@mixin box-shadow {

    box-shadow: 0px 1px 9px 1px hsl(34,27%,65%);
    
}

@mixin center {

    display: flex;
    align-items: center;
    justify-content: center;

    
}

@mixin buton ($color) {

    background: $color;
    padding:  5px 25px;
    border-radius: 40px;
   
}



@mixin gradient-text ($color) {

    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

@mixin gradient-text-menu ($color, $font) {

    background: $color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5em;
    font-family: $font;
    line-height: 4em;
    

    
}



@mixin main-menu ($color) {

    width: 80%;
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: $color;
    margin-bottom: 15vh;
    @include box-shadow;
   
    
}

@mixin spanmenu {

    display: flex;
    flex-direction: row;
    justify-content: space-between;


    & p {

        font-size: 1.5em;
        line-height: 2em;
    }

    
    
}

/*** ANIMATIONS CSS ***/

@mixin wiggle {

    animation: wiggle 2.5s infinite;

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    35% { transform: rotate(-5deg); }
   40% { transform: rotate(5deg); }
   45% { transform: rotate(-5deg); }
   50% { transform: rotate(0deg); }       
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }



}

@mixin scale {

    transform: scale(1);
    transition-property: transform;
    transition-duration: 600ms;
    opacity: 1;

}

@mixin scalehover {
    
    transform: scale(1.4) ;
    opacity: 0.5;
}

@mixin underlined ($color,$font) {
    


    font-family: $font;
    font-size: 3em;
    color: $color;
    margin-bottom: 1em;
 

    &:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
    &:hover:after {
        width: 10%;
        background: $color;
    }
  
        
    
}












