/***** Couleur de base *****/

/***** Couleur de base *****/
$font-global: 'MuseoModerno',
cursive;
$font-h1: 'Krona One',
sans-serif;
$color-font:hsl(0, 1%, 17%);
$couleur-txt-dyn:hsl(45,83%,65%);
$couleur-hd-ft:hsl(153,28%,52%);
$couleur-body:hsl(0, 0%, 100%);

/***** Couleur La note Enchantée *****/
$couleur-lanote:hsl(10, 51%, 90%);
$couleur-txt-lanote:hsl(30, 56%, 25%);
$font-lanote: 'Devonshire', cursive;
$couleur-dgd-lanote: linear-gradient(0.25turn,hsl(39, 79%, 53%), hsl(353, 94%, 62%),hsl(39, 79%, 53%));


/***** Couleur Le chic à la française *****/
$couleur-lechic:hsl(285, 29%, 95%);
$couleur-txt-lechic:linear-gradient(0.25turn,hsl(26,61%,43%), hsl(299,19%,50%), hsl(252,52%,54%));
$font-lechic: 'Croissant One', cursive;
$couleur1:hsl(26,61%,43%);
$couleur2: hsl(299,19%,50%);
$couleur3:hsl(252,52%,54%);


/***** Couleur Le delice des papilles *****/
$couleur-ledelice:hsl(0, 0%, 98%);
$couleur-txt-ledelice:radial-gradient(closest-side,hsl(216, 48%, 56%), hsl(258, 62%, 30%));
$font-ledelice:'Dancing Script',
cursive;

/***** Couleur La palette du gôut *****/
$couleur-lapalette:hsl(120, 100%, 100%);
$couleur-txt-lapalette:linear-gradient(0.75turn,hsl(93, 93%, 36%) 0%, hsl(85, 92%, 28%) 45%, hsl(99, 95%, 46%) 100%);
$font-lapalette: 'Kaushan Script', cursive;